@import "./base";
@import "./utils/variables";
@import "./utils/utils";

@import "./components/address";
@import "./components/advanture-section";
@import "./components/buttons";
@import "./components/cheafs-section";
@import "./components/contacts-section";
@import "./components/footer";
@import "./components/header";
@import "./components/form-input";
@import "./components/formats-section";
@import "./components/header";
@import "./components/hero-sections";
@import "./components/links";
@import "./components/modal";
@import "./components/traditions-section";

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}
