*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

/* base */
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary-light);
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

.visually-hidden {
  position: absolutele;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand-normal);
  font-size: 16px;
  font-weight: 300;
}

.adress-copyright {
  font-size: 15px;
  color: var(--color-primary-light);
}

.adress-icon {
  fill: var(--color-primary-light);
}

.adress-icon:hover {
  fill: var(--color-brand-normal);
}

.advantages-section {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .advantages-section {
    background-color: var(--color-brand-normal);
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-brand-light);
  border-radius: 24px;
  padding: 24px 40px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

.advantages-item {
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
  }
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.button {
  display: block;
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  background: var(--color-brand-normal);
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.button:disabled {
  background-color: lightgray;
  color: gray;
  border-color: currentColor;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
  transform: scale(1.1);
  transition: transform 0.5s;
  transition: 0.5s;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  flex-shrink: 0;
}

.header_button {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header_button {
    display: block;
  }
}

.header_burger {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  fill: var(--color-primary-light);
}
@media screen and (min-width: 1200px) {
  .header_burger {
    display: none;
  }
}

.hero-section_button {
  margin: 48px auto;
}
@media screen and (min-width: 1200px) {
  .hero-section_button {
    display: none;
  }
}

.chefs-list {
  display: flex;
  gap: 30px;
  row-gap: 45px;
  flex-wrap: wrap;
}

.chefs-card {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-title {
  max-width: 540px;
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::after,
.chefs-title::before {
  display: block;
  width: 360px;
  border: 2px solid var(--color-brand-light);
  content: "";
  position: absolute;
  bottom: 0;
  bottom: 24px;
}

.chefs-title::before {
  left: -360px;
}

.chefs-title::after {
  right: -360px;
}

.contacts-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  width: 600px;
  height: 680px;
}

.contacts-title {
  margin-bottom: 16px;
}

.contact-form-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 84px;
  text-align: center;
  padding-bottom: 0;
}

.contact-form-info {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer {
  background-image: url(../images/footer-img.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  position: relative;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}

.footer::before {
  background-image: url(../images/bread-left.png);
  background-size: 180px 120px;
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(../images/bread-right.png);
  position: absolute;
  width: 380px;
  height: 190px;
  right: 0;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
}
@media screen and (min-width: 1200px) {
  .header-container {
    padding: 32px 128px;
  }
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }
}

.form-input {
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 8px;
  font-size: 16px;
  background: transparent;
}

.form-label {
  display: block;
}

.form-field {
  margin-bottom: 32px;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::-moz-placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-terms {
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms-link {
  color: var(--color-primary-dark);
  /* font-size: 12px;
  line-height: 1.5; */
  text-underline-offset: 2px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.format-card {
  position: relative;
  height: 444px;
  width: 349px;
  border-radius: 16px;
  border: 1px solid lightgray; /* remove */
  padding: 24px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.format-card:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.formats-items {
  flex-basis: calc((100% - 40px) / 3);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  word-wrap: break-word;
  color: var(--color-primary-light);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
}
@media screen and (min-width: 1200px) {
  .header-container {
    padding: 32px 128px;
  }
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }
}

.hero-section {
  padding: 124px 24px;
  background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/Hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .hero-section {
    font-size: 272px 0;
  }
}

.hero-title {
  color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 67px;
  line-height: 1;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 128px;
    line-height: 1.5;
  }
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: var(--color-brand-normal);
}

.link:active {
  color: var(--color-primary-dark);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  transition: opacity 0.35s, visibility 0.35s;
}

.modal {
  width: 780px;
  max-width: 100%;
  height: 780px;
  max-height: 100%;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  position: relative;
  padding: 64px 64px;
  /* overflow-y: auto; */
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 25%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.modal-btn-close:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
  transform: scale(1.1);
  transition: transform 0.3s;
  transition: 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.traditional-contant {
  display: flex;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-contant {
  min-width: 710px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-section-img {
  border-radius: 400px 400px 0px 0px;
  background: #d9d9d9;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 25%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.mobile-menu-btn-close.mobile-menu-btn-close:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
  transform: scale(1.1);
  transition: transform 0.3s;
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}/*# sourceMappingURL=main.css.map */